<web-app>
    <welcome-file-list>
        <welcome-file>all_novel_list</welcome-file>
    </welcome-file-list>

    //servlet for loading all employees data
    <servlet>
        <servlet-name>LoadAllEmployees</servlet-name>
        <servlet-class>com.employeemanagement.servlets.LoadAllEmployees</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoadAllEmployees</servlet-name>
        <url-pattern>/all_emp_list</url-pattern>
    </servlet-mapping>


</web-app>
